#rectangle {
    width: 600px;
    height: 150px;
    background:transparent;
    border: 2px solid black;
    position: relative;
    left: 500px;
    top: 50px;
}
#rectangle2{
    width: 290px;
    height: 10px;
    background:transparent;
    border: #dad8ff;
    top: 50px;
}
#rectangle3{
    width: 1200px;
    height: 80px;
    background:transparent;
    border: 2px solid black;
    position: relative;
    left: 230px;
    top: 50px;

}
#rectangle4{
    width: 290px;
    height: 10px;
    background:transparent;
    border: #dad8ff;
    top: 50px;
}
#rectangle5 {

    width: 600px;
    height: 200px;
    background:transparent;
    border: 2px solid black;
    position: relative;
    left: 500px;
    top: 50px;
}
#rectangle6{
    width: 290px;
    height: 10px;
    background:transparent;
    border: #dad8ff;
    top: 50px;
}
#rectangle7{

    width: 1200px;
    height: 110px;
    background:transparent;
    border: 2px solid black;
    position: relative;
    left: 230px;
    top: 50px;
}